<h1>Edit Guest</h1>
<%if flash[:message] %>
  <strong><%= flash[:message] %></strong><br><br>
<% end %>
<form class="" action="/guests/<%= @guest.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Name</label>
  <input type="text" name="guest[name]" id="name" value="<%= @guest.name %>">

  <h3>Events Invited To</h3>

  <% current_user.events.each do |event| %>
    <input type="checkbox" name="guest[event_ids][]" id="<%= event.id %>" value="<%= event.id %>" <%= "checked" if @guest.events.include?(event) %>><%= event.name %></input>
  <% end %>
  <br><br>

  <input type="submit" value="Submit">

</form>

<form class="" action="/guests/<%= @guest.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Guest">
</form>
<button type="button" name="button" onclick="window.location.href = '/guests';">Back</button>
