<h1><%= @event.name %></h1>
<a href="/events/<%= @event.slug %>/edit">Edit Event Name</a>
<a href="/guests/edit">Guestlist</a>
<a href="/venues/<%= @event.venue %>/edit">Change Venue</a>
<a href="/ttd/<%= @event.ttd %>/edit">Things to do</a>
<a href="/hotels/<%= @event.hotels %>/edit">Guest Accomadation</a>
