<section>
  <h1><%= @event.name %></h1>
  <% if flash[:message] %>
    <strong><%= flash[:message] %></strong>
    <br><br>
  <% end %>
</section>
<section>

  <%= @event.event_date %><br>
  <%= @event.start_time %> - <%= @event.end_time %>
</section>
